<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="skeleton.css">
    <link rel="stylesheet" href="normalize.css">
    <title>Strain Track</title>
</head>
<body>

    <header>
        <h1>Strain Track 🌿</h1>
        <p>Keep track of all the strains you’ve come accross</p>
    </header>
    

    <form action="/strains" method="post">
        <input type="text" placeholder="strain" name="strain">
        <select name="type">
            <option value="choose">Choose...</option>
            <option value="sativa">Sativa</option>
            <option value="hybrid">Hybrid</option>
            <option value="kush">Kush</option>
        </select>
        <select name="thoughts">
            <option value="choose">Choose...</option>
            <option value="hate">Hate It</option>
            <option value="fine">Fine</option>
            <option value="good">Good</option>
            <option value="love">Love It</option>
        </select>
        <input type="date" placeholder="date" name="date">
        <textarea placeholder="Additional Info" name="more"></textarea>
        <button type="submit">Submit</button>
    </form>

    <div>
        <h2>Replace the last strain with a random one</h2>
        <button id="update">A Surprise</button>
    </div>

    <div>
        <h2>Delete first 'good' strain</h2>
        <button id="delete">DELETE A 'GOOD' STRAIN</button>
    </div>


    <h2>All Strains</h2>
    <ul class="strains">
            <% for(var i = 0; i < strains.length; i++) { %>
                <li class="strain">
                    <span><%= strains[i].date %></span>
                    <span><%= strains[i].strain %></span>
                    <span><%= strains[i].thoughts %></span>
                </li>
            <% } %>
    </ul>
                
 <script src="main.js"></script>   
</body>
</html>

